@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');


:root {
	--clr-primary: #e9f0dc;
    --clr-secondary: #272D2D;
    --clr-text: #3d3d41;
	--clr-box: #b2b4ae;
	--clr-major: #e2c6dc;
	--clr-major-shadow: #fed4f4;
	--clr-minor: #ffc5dd;
	--clr-minor-shadow: #ffbfce;
	--clr-year: #ffb6ee;
	--clr-year-shadow: #ffbaff;
	--clr-slider-on: #dd79bc;
	--clr-slider-off: #300d2d;
	--clr-slider-knob: #ffffff;
	--clr-shadow: #00000066;
	--clr-button: #fcb1be;

	--white: #ffffff;
	--light: #f0eff3;
	--black: #000000;
	--dark-blue: #1f2029;
	--dark-light: #353746;
}

.darkmode {
	--clr-primary: #272D2D;
    --clr-secondary: #E6EED6;
    --clr-text: #e2e2e2;
    --clr-math: #df75aa;
    --clr-blob: #e2bccf;
}

/* #Primary
================================================== */

body{
	width: 100%;
	background: var(--clr-primary);
	overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
	font-size: 17px;
	line-height: 30px;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}

p{
  font-family: 'Poppins', sans-serif;
	font-size: 17px;
	line-height: 30px;
	color: var(--clr-text);
	letter-spacing: 1px;
	font-weight: 500;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}

.section {
  position: relative;
	width: 100%;
	display: block;
	text-align: center;
	margin: 0 auto;
}

.z-bigger {
    z-index: 100 !important;
}

.background-color{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--clr-primary);
	z-index: 1;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked),
[type="radio"]:checked,
[type="radio"]:not(:checked){
	position: absolute;
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden;
}

.checkbox-majors:checked + label,
.checkbox-majors:not(:checked) + label,
.checkbox-minors:checked + label,
.checkbox-minors:not(:checked) + label,
.checkbox-years:checked + label,
.checkbox-years:not(:checked) + label {
    position: relative;
    display: inline-flex; /* Use inline-flex */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    padding: 20px;
    width: 200px;
    height: 95px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1px;
    margin: 0 auto;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    text-transform: uppercase;
    color: var(--clr-text);
    transition: all 300ms linear;
}
.checkbox-majors:not(:checked) + label,
.checkbox-minors:not(:checked) + label,
.checkbox-years:not(:checked) + label{
	background-color: var(--clr-box);
	box-shadow: 0 2px 4px 0 var(--clr-shadow);
}

.checkbox-majors:checked + label::before,
.checkbox-majors:not(:checked) + label::before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	background-image: linear-gradient(298deg, var(--clr-major), var(--clr-major-shadow));
	z-index: -1;
}

.checkbox-minors:checked + label::before,
.checkbox-minors:not(:checked) + label::before{
  position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	background-image: linear-gradient(298deg, var(--clr-minor), var(--clr-minor-shadow));
	z-index: -1;
}

.checkbox-years:checked + label::before,
.checkbox-years:not(:checked) + label::before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	background-image: linear-gradient(298deg, var(--clr-year), var(--clr-year-shadow));
	z-index: -1;
}

/************** TEXTBOX ****************/
.textbox-custom {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    width: 20%;
    height: 45px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1px;
    margin: 0 auto;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    text-transform: uppercase;
    color: var(--clr-text);
    transition: all 300ms linear;
    background-color: #300d2d;
    position: relative;
	border: none;
}



.for-textbox-custom {
    display: block;
    cursor: pointer;
}

.for-textbox-custom i {
    margin-right: 10px;
}

/************* SEARCH BOX **************/

::selection{
	color: #fff;
	background: #4285f4;
  }
  .wrapper{
	width: 370px;
	margin: 85px auto 0;
	font-family: 'Arial', sans-serif;
  }
  .select-btn, li{
	display: flex;
	align-items: center;
	cursor: pointer;
  }
  .select-btn{
	height: 65px;
	padding: 0 20px;
	font-size: 22px;
	background: #fff;
	border-radius: 10px;
	justify-content: space-between;
	box-shadow: 0 10px 25px var(--clr-shadow);
	transition: all 0.3s ease;
  }
  .select-btn:hover{
	background: #f0f0f0;
  }
  .select-btn i{
	font-size: 31px;
	transition: transform 0.3s linear;
  }
  .wrapper.active .select-btn i{
	transform: rotate(-180deg);
  }
  .content{
	display: none;
	padding: 20px;
	margin-top: 15px;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 25px var(--clr-shadow);
	transition: all 0.3s ease;
  }
  .wrapper.active .content{
	display: block;
  }
  .content .search{
	position: relative;
  }
  .search i{
	top: 50%;
	left: 15px;
	color: #999;
	font-size: 20px;
	pointer-events: none;
	transform: translateY(-50%);
	position: absolute;
  }
  .search input{
	height: 50px;
	width: 75%;
	outline: none;
	font-size: 17px;
	border-radius: 5px;
	padding: 0 20px 0 43px;
	border: 1px solid #B3B3B3;
	transition: all 0.3s ease;
  }
  .search input:focus{
	padding-left: 42px;
	border: 2px solid #4285f4;
  }
  .search input::placeholder{
	color: #bfbfbf;
  }
  .content .options{
	margin-top: 10px;
	max-height: 250px;
	overflow-y: auto;
	padding-right: 7px;
  }
  .options::-webkit-scrollbar{
	width: 7px;
  }
  .options::-webkit-scrollbar-track{
	background: #f1f1f1;
	border-radius: 25px;
  }
  .options::-webkit-scrollbar-thumb{
	background: #ccc;
	border-radius: 25px;
  }
  .options::-webkit-scrollbar-thumb:hover{
	background: #b3b3b3;
  }
  .options li{
	height: 50px;
	padding: 0 13px;
	font-size: 21px;
	border-radius: 5px;
	transition: 0.3s ease;
  }
  .options li:hover, .options li.selected{
	background: #f2f2f2;
  }
/******************* TOGGLE *********/
/* Centering the toggle container */
.toggle-container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin-top: 10px;
  }
  
  /* Toggle Switch CSS */
  .switch {
	font-size: 17px;
	position: relative;
	display: inline-block;
	width: 3.5em;
	height: 2em;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  /* The slider */
  .slider {
	position: absolute;
	cursor: pointer;
	inset: 0;
	background: var(--clr-slider-off);
	border-radius: 50px;
	transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .slider:before {
	position: absolute;
	content: "";
	display: flex;
	align-items: center;
	justify-content: center;
	height: 1.8em;
	width: 1.8em;
	inset: 0;
	translate: 1px 1.6px;
	background-color: var(--clr-slider-knob);
	border-radius: 50px;
	box-shadow: 0 10px 20px var(--clr-shadow);
	transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .switch input:checked + .slider {
	background: var(--clr-slider-on);
	
  }
  
  .switch input:focus + .slider {
	box-shadow: 0 0 1px var(--clr-slider-on);
  }
  
  .switch input:checked + .slider:before {
	transform: translateX(1.6em);
  }
  
  /* Toggle labels */
  .toggle-label {
	font-size: 17px;
	color: var(--clr-text);
  }
  
  .toggle-container .toggle-label:first-child {
	margin-right: 10px;
  }
  
  .toggle-container .toggle-label:last-child {
	margin-left: 10px;
  }
  
  
/*************** BUTTON *************/
.container {
    text-align: center;
}

.button {
    position: relative;
    color: var(--clr-primary);
    z-index: 2;
    width: 240px;
    height: 50px;
    margin: 10px;
    box-shadow: 0 3px 6px var(--clr-shadow);
    cursor: pointer;
    border-radius: 3px;
    border: none;
    font-size: 15px;
    letter-spacing: 2px;
    transition: 0.45s;
    background: var(--clr-box);
}

button:hover{
    transform: translateY(4px);
    background:  var(--clr-button);
}