@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    overflow: hidden;
    background-color: #1f2029;
}

.main {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.blob {
    border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
    position: absolute;
    width: 540px;
    height: 540px;
    background: rgb(0, 255, 98);
    background-image: linear-gradient(45deg, #836083 0%, rgb(41, 38, 41) 100%);
    animation: animateBlob 10s linear infinite alternate;

    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    position: relative;
    z-index: 1;
}

.title {
    color: #fff;
    font-size: 4rem;
    margin-bottom: 20px;
}

.math {
    color: #e086b3;
}

.desc {
    color: #ccc;
    font-size: 1.2rem;
    margin-bottom: 30px;
    max-width: 600px;
    line-height: 1.5;
}

.button {
    color: white;
    width: 200px;
    height: 50px;
    background: #201416;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    box-shadow: #1f2029;
}

.button:hover {
    background: #ff69b4;
    transform: translateY(-5px);
}

.button:active {
    transform: translateY(-2px);
}

@media (max-width: 768px) {
    .title {
        font-size: 3rem;
    }
    .desc {
        font-size: 1rem;
        padding: 0 20px;
    }
    .button {
        width: 180px;
        height: 45px;
        font-size: 0.9rem;
    }
}
