:root {
	--clr-primary: #F6F5F2;
    --clr-secondary: #2d272b;
    --clr-text: #3d3d41;
    --clr-text-alt: #e2e2e2;

	--clr-box: #F0EBE3;
    --clr-major: #e2c6dc;
	--clr-major-shadow: #fed4f4;
	--clr-minor: #ffc5dd;
	--clr-minor-shadow: #ffbfce;
	--clr-year: #ffb6ee;
	--clr-year-shadow: #ffbaff;

    --clr-major-box: #F0EBE3;
    --clr-box-hover: #adadad;
    --clr-major-title: #fc87e1;
    --clr-course-hover: #f0c9e7c5;
    --clr-course-selected: #f1abe1c5;
    --clr-course-matched: #03b1033a;

    --clr-schedule: #f8f9fa;
    --clr-schedule-hover: #e1e2e2;


    /* Shared properties */
    --clr-math: #e23e93;
    --clr-blob1: #e494bc;
    --clr-blob2: #e47fb1;
	--clr-slider-on: #dd79bc;
	--clr-slider-off: #300d2d;
	--clr-slider-knob: #ffffff;
	--clr-shadow: #00000066;
	--clr-button: #fcb1be;

    --transition-speed: 0.3s;
    --transition-speed-fast: 0.2s;
}

.darkmode {
	--clr-primary: #272D2D;
    --clr-secondary: #E6EED6;
    --clr-text: #e2e2e2;
    --clr-text-alt: #3d3d41;

	--clr-box: #353746;
    --clr-major: #de5d83;
	--clr-major-shadow: #F3D0D7;
	--clr-minor: #E87EA0 ;
	--clr-minor-shadow: #FFEFEF;
	--clr-year: #a94064;
	--clr-year-shadow: #960196;

    --clr-major-box: #353838;
    --clr-box-hover: #444747;
    --clr-major-title: #fc87e1;
    --clr-course-hover: #f0c9e7c5;
    --clr-course-selected: #f1abe1c5;
    --clr-course-matched: #03b1033a;

    --clr-schedule: #3b3b3b;
    --clr-schedule-hover: #646464;
}