@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&subset=latin-ext');

/*
:root {
    --white: #ffffff;
    --dark-blue: #1f2029;
    --dark-light: #353746;
    --pink: #ff7eb9;
    --light-pink: #f1aadc;
    --grey: #8c8c8c;
    --darker-grey: #222222;
    --dark-grey-hover: #2b2b2b;
    --shadow: rgba(0, 0, 0, 0.2);
    --transition-speed: 0.3s;
    --transition-speed-fast: 0.2s;
} */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--clr-primary);
    color: var(--clr-text);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    opacity: 0;
    animation: fadeIn var(--transition-speed) ease-in-out forwards;
    text-align: center; /* Center text content */
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.container {
    margin-top: 40px;
    max-width: 1200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align items */
}

.header {
    text-align: center;
    margin-bottom: 50px;
}

.title {
    font-size: 3rem;
    margin-bottom: 10px;
    color: var(--clr-major-title);
    transition: color var(--transition-speed-fast);
}

.title:hover {
    color: var(--clr-math);
}

.description {
    font-size: 1.1rem;
    color: var(--clr-text);
}

.course-planner {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap */
    justify-content: center; /* Center align items */
    gap: 20px; /* Adjust as needed */
    padding: 20px;
}

.major {
    background-color: var(--clr-major-box);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px var(--clr-shadow);
    min-width: 300px; /* Ensure a minimum width */
    flex: 1 1 300px; /* Flex-grow, flex-shrink, flex-basis */
    color: var(--clr-text);
    max-width: 700px; /* Optional: Limit maximum width */
    transition: transform var(--transition-speed), box-shadow var(--transition-speed), background-color var(--transition-speed);
    margin-bottom: 20px; /* Space between majors */
    text-align: left; /* Ensure left alignment for major content */
}

@media (max-width: 1000px) {
    .major {
        max-width: 100%; /* Full width on smaller screens */
    }
}

.major:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px var(--clr-shadow);
    background-color: var(--clr-box-hover);
    z-index: 1; /* Ensure the hovered major is above others */
}

.major h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: var(--clr-major-title);
    border-bottom: 2px solid var(--clr-major-title);
    padding-bottom: 10px;
    transition: border-bottom-color var(--transition-speed);
}

/*************** DYNAMICALLY INSERTED INFO ****************/
.course-list {
    list-style-type: none;
    padding: 0;
}

.course-list li {
    margin-bottom: 10px;
    font-weight: 500;
    color: var(--clr-text);
    position: relative;
}

.course-list li ul {
    
    margin-top: 10px;
    padding-left: 20px;
}

.course-list li ul li {
    
    margin-bottom: 5px;
    font-weight: 400;
    color: var(--clr-text);
}

.course-item {
    cursor: pointer;
    transition: background-color var(--transition-speed), color var(--transition-speed);
    position: relative;
}

.course-item.selected {
    background-color: var(--clr-selected);
    color: var(--clr-text);
}

.course-sub-item {
    margin-left: 20px; /* Extra indent for sub-items */
    transition: background-color var(--transition-speed), color var(--transition-speed);
}

.course-sub-item.selected {
    background-color: var(--clr-course-selected);
    color: var(--clr-text);
}

.course-sub-item:hover {
    background-color: var(--clr-course-hover);
    color: var(--clr-text); 
    z-index: 2; 
    cursor: pointer;
}

.course-item:hover {
    background-color: var(--clr-course-hover);
    color: var(--clr-text); 
    z-index: 2; 
}

.course-item.selected {
    background-color: var(--clr-course-selected);
    color: var(--clr-text);
}

.matched-course {
    background-color: var(--clr-course-matched);
}

.dropdown {
    cursor: pointer;
}

ul.X00 {
    opacity: 0;
    display: none;
    animation: disappear 0.5s;
}

ul.X00show {
    display: block;
    opacity: 1;
    animation: appear 0.5s;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateX(-5rem);
    } 50% {
        transform: translateX(0);
    } 100% {
        opacity: 1;
        transform:translateX(0);
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
        transform:translateX(0);
        display: block;
    }
    50% {
        transform: translateX(0);
    } 100% {
        opacity: 0;
        transform: translateX(-5rem);
        display: none;
    }
}

.category-container {
    display: inline;
    align-items: center;
}

/*************** POP UPS ******************/
.course-popup-onload {
    display: block;
    position: absolute;
    transform: translate(100%, -100%);
    background-color: var(--clr-box);
    color: var(--clr-text);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px var(--clr-shadow);
    z-index: 1000;
    width: 250px;
}

.course-popup {
    display: none;
    position: absolute;
    transform: translate(205%, -100%);
    background-color: var(--clr-box);
    color: var(--clr-text);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px var(--clr-shadow);
    z-index: 1000;
    width: 250px;
}

.course-item:hover .course-popup {
    display: block;
    z-index: 1000;
}

.adjust-position {
    transform: translate(205%, -8%);
}

.course-popup p {
    margin: 0;
    font-size: 0.9rem;
    color: var(--clr-text); 
}

/************** BUTTON ***********/
.button {
    position: relative;
    color: var(--clr-text);
    z-index: 2;
    width: 240px;
    height: 50px;
   
    box-shadow: 0 3px 6px var(--clr-shadow);
    cursor: pointer;
    border-radius: 3px;
    border: none;
    font-size: 15px;
    letter-spacing: 2px;
    transition: 0.45s;
    background: var(--clr-major-box);
}

button:hover{
    transform: translateY(4px);
    background: var(--clr-button);
}

/********** ERRORS ***********/
.errors {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid red;
    background-color: #ffe6e6;
    color: red;
    font-size: 15px;
    border-radius: 5px;
    z-index: 10000;
    box-shadow: 0 2px 4px rgb(211, 133, 133)
}

.errors p {
    margin: 0;
    padding: 5px 0;
    line-height: 1.5;
}

/*** BLOB ***/
.blob {
    border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
    position: absolute;
    width: 75%;
    height: 100%;
    background-image: linear-gradient(45deg, pink 0%, rgb(217, 177, 221) 100%);
    animation: animateBlob 20s linear infinite alternate;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

@keyframes animateBlob {
    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

/** LOADER **/
.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--clr-primary);
    z-index: 10000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader:before {
    content: "";
    width: 50px;
    height: 50px;
    border: 5px solid var(--clr-secondary);
    border-top: 5px solid var(--clr-math);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}