body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
    background: linear-gradient(to right, var(--clr-blob1) 55%, var(--clr-blob1) 50%);
    background-size: 100% 100%;
    color: var(--clr-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto; /* Enable vertical scrolling */
    height: 100vh; /* Full viewport height */
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, var(--clr-primary) 50%, var(--clr-primary) 50%);
    clip-path: ellipse(80% 100% at 70% 0);
    z-index: -100;
    animation: wave 50s infinite ease-in-out;
}

@keyframes wave {
    0% {
        clip-path: ellipse(80% 100% at 70% 0);
    }
    50% {
        clip-path: ellipse(90% 100% at 60% 0);
    }
    100% {
        clip-path: ellipse(80% 100% at 70% 0);
    }
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: var(--clr-math); /* Pink color */
    font-size: 2.75em; /* Slightly larger for more impact */
    font-weight: 700; /* Bold for emphasis */
    margin-bottom: 10px;
}

.description {
    font-size: 1.2em;
    color: var(--clr-secondary);
    font-weight: 300;
    margin-top: -10px;
    margin-bottom: 30px;
}

.body {
    background-color: var(--clr-box); /* Light grey */
    padding: 1rem 0.75rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--clr-shadow);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    z-index: 2;
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;

}

.body:hover {
    background-color: var(--clr-box-hover); /* Slightly darker grey */
    box-shadow: 0 8px 16px var(--clr-shadow);
}

.courses-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    z-index: 3;
    position: relative;
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
}


/* Schedule Table Styles */
.table-container {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: var(--clr-major-box);
    overflow-x: auto; /* Allow horizontal scrolling if needed */
    overflow-y: hidden; /* Prevent vertical scrolling within the table container */
    box-shadow: 0 5px 15px var(--clr-shadow);
    border-radius: 8px;
    padding: 20px;
    z-index: 3;
    position: relative;
    opacity: 0;
    animation: fadeIn 0.25s ease-out forwards;
}

.schedule-table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    padding: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-size: 0.9rem;
    font-weight: 700;
    background-color: var(--clr-secondary);
    color: var(--clr-text-alt);
    transition: background-color 0.3s ease;
    border: none;
}

thead th:first-child {
    border-top-left-radius: 8px;
}

thead th:last-child {
    border-top-right-radius: 8px;
}

thead th:hover {
    background-color: var(--clr-math); /* pink color */
}

.schedule-table td {
    padding: 1rem;
    background-color: var(--clr-schedule);
    text-align: center;
    border: none;
    transition: background-color 0.3s ease;
}

.schedule-table td:hover {
    background-color: var(--clr-schedule-hover);
}

.cell-input {
    width: 100%;
    height: 100%;
    border: none;
    text-align: center;
    background-color: transparent;
    outline: none;
    font-size: 16px;
    color: var(--clr-text);
}

.cell-input::placeholder {
    color: var(--clr-text);
}

.dragging {
    opacity: 0.5;
}

.droppable {
    position: relative;
    overflow: hidden;
    min-height: 50px;
}


/* Course Card Styles */
.course-card {
    background-color: var(--clr-course-card); /* pink color */
    color: var(--clr-text-alt);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    max-width: 100%; /* Ensure the card doesn't overflow horizontally */
    height: 30px;
    font-size: 16px;
    margin: 10px;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px var(--clr-shadow);
    z-index: 3;
    position: relative;
    opacity: 0;
    animation: slideInFromBottom 0.6s ease-out forwards;
}

.clicked {
    opacity: 0.5;
    background-color: var(--clr-card-selected);
}

.course-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px var(--clr-shadow);
}

/* Background Shapes */
.background-shapes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.shape {
    position: absolute;
    border-radius: 50%;
    opacity: 0.2;
}

.shape-1 {
    width: 200px;
    height: 200px;
    background-color: var(--clr-blob1);
    top: 10%;
    left: 15%;
    animation: float1 6s ease-in-out infinite;
}

.shape-2 {
    width: 300px;
    height: 300px;
    background-color: var(--clr-secondary);
    top: 50%;
    left: 70%;
    animation: float2 8s ease-in-out infinite;
}

.shape-3 {
    width: 150px;
    height: 150px;
    background-color: #6c757d;
    top: 70%;
    left: 20%;
    animation: float3 10s ease-in-out infinite;
}

.input-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-top: 1rem;
}

.textbox {
    padding: 8px 12px; /* Adjusted padding for balance */
    border: 1px solid var(--clr-secondary);
    border-radius: 2px; /* Smooth but sharp enough for formality */
    width: 200px; /* A compact width */
    font-size: 0.9em; /* Slightly smaller font for a neat look */
    font-family: 'Roboto', Arial, sans-serif; /* Clean and professional font */
    color: var(--clr-text); /* Primary text color */
    background-color: var(--clr-bg); /* Subtle background color */
    outline: none;
    transition: border-color 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
}

.textbox:focus {
    animation: focusGlow 0.5s ease forwards;
}

@keyframes focusGlow {
    0% {
        border-color: var(--clr-secondary);
        box-shadow: 0 0 0 var(--clr-primary-hover);
        background-color: var(--clr-bg);
    }
    100% {
        border-color: var(--clr-primary-hover);
        box-shadow: 0 0 6px var(--clr-primary-hover);
        background-color: rgba(255, 192, 203, 0.384); /* Light pink background glow */
    }
}


.submit-button {
    color: var(--clr-primary);
    width: 200px;
    height: 50px;
    background: var(--clr-secondary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    box-shadow: #1f2029;
}

.submit-button:hover {
    background: var(--clr-math);
    transform: translateY(5px);
}

.submit-button:active {
    transform: translateY(-2px);
}




/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInFromTop {
    from {
        transform: translateY(-20%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInFromBottom {
    from {
        transform: translateY(20%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes float1 {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

@keyframes float2 {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
}

@keyframes float3 {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}


@media (max-width: 768px) {
    /* General adjustments for smaller screens */
    body {
      font-size: 15px;
      line-height: 25px;
    }
  
    .wrapper {
      width: 90%;
      margin: 20px auto;
    }
  
    .section {
      padding: 10px;
    }
  
    .degree-toggle-container {
      flex-direction: column;
      gap: 5px;
    }
  
    .checkbox-majors:not(:checked) + label,
    .checkbox-minors:not(:checked) + label,
    .checkbox-years:not(:checked) + label {
      width: 100%;
      height: auto;
      padding: 15px;
      font-size: 14px;
      margin-bottom: 5px;
    }
  
    .checkbox-majors:checked + label::before,
    .checkbox-minors:checked + label::before,
    .checkbox-years:checked + label::before {
      width: 100%;
      height: 100%;
    }
  
    .textbox-custom {
      width: 100%;
      height: auto;
      padding: 15px;
      font-size: 14px;
    }
  
    .select-btn {
      height: 50px;
      font-size: 18px;
    }
  
    .search input {
      width: calc(100% - 60px);
      padding-left: 38px;
    }
  
    .content .options {
      max-height: 200px;
    }
  
    .button {
      width: 100%;
      height: 45px;
      margin: 5px 0;
    }
  
    .container {
      width: 90%;
      margin: 0 auto;
    }
  
    /* Degree toggle switch adjustments */
    .degree-switch {
      width: 2.8em;
      height: 1.6em;
    }
  
    .degree-slider:before {
      height: 1.4em;
      width: 1.4em;
    }
  
    /* Adjust animation container */
    .background-color,
    .section,
    .container {
      opacity: 1;
      animation: none; /* Disable animations for better performance on small screens */
    }
  
    /* Adjust fade and slide animations for better performance */
    .slide-in-top,
    .slide-in-bottom,
    .fade-in {
      animation: none; /* Remove animations on smaller screens for smooth transitions */
    }
  
    /* Adjust checkbox animation */
    .checkbox-majors,
    .checkbox-minors,
    .checkbox-years,
    .textbox-custom {
      animation: none; /* Disable slide-in animations */
      opacity: 1; /* Ensure all elements are visible */
    }
  
    /* Table adjustments */
    table {
      width: 100%;
      display: block;
      overflow-x: auto;
      white-space: nowrap;
    }
  
    th, td {
      padding: 10px;
      font-size: 14px;
      text-align: center;
    }
  
    /* Ensure labels and buttons fit well */
    .toggle-label {
      font-size: 14px;
    }
  }
  
  @media (max-width: 480px) {
    /* Additional adjustments for very small screens */
    .wrapper {
      width: 100%;
      padding: 0 10px;
    }
  
    .select-btn {
      font-size: 16px;
      padding: 0 15px;
    }
  
    .button {
      font-size: 14px;
      letter-spacing: 1.5px;
    }
  
    .container {
      text-align: center;
      padding: 5px;
    }
  
    .degree-toggle-container {
      flex-direction: column;
      gap: 2px;
    }
  
    /* Search input adjustments */
    .search input {
      font-size: 14px;
    }
  }
  